.contact-content {
    margin: 0 !important;
    width: 100%;
    min-height: 75vh;
}
.contact-items{
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}
.contact-item {
    display: flex;  
    justify-content: flex-start;  
    align-items: center;  
    overflow: hidden; 
}
.contact-item a {
    text-decoration: none;
    padding: 0px 5px;
    color: rgb(86, 97, 107);
    position: relative;
}
.contact-item::after{
    content: "👈";
    font-size: 20px;
    animation: move-left 0.5s infinite alternate;
    margin-left: 20px;
}
@keyframes move-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-10px);
    }
}
.contact-item{
    text-decoration: none;
    list-style-type: circle;
    margin: 30px 0px;
}
.mesagge-content{
    text-align: center;
    margin: 30px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
}
.mesagge-content .succes {
    color: green;
    font-size: large;
}
.mesagge-content .error {
    color:red;
    font-size: large;
}

.form-email{
    padding: 0px;
    width: 100%;
    flex-direction: column;
    border :rgb(46, 46, 46) solid 1px;
    border-radius: 5%;
}
.form-contact{
    gap: 10px;
    padding: 0px 20px;
}

.submit-input{
    margin-bottom: 10px;
}



