.card {
    width: 18rem;
}

.accordion-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.card img {
    max-width: 300px;
    max-height: 300px;
}

.card .skill-content {
    display: flex;
    justify-content: left;
    gap: 5px;
    width: 100%;
    height: auto;
    margin: 3px;
}

.skill-icon-card {
    width: 40px;
    height: 40px;
}