.welcome {
    height: 350px;
    width: 100%;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}
.content-box {
    padding-bottom: 50px;
    height: 300px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    overflow: hidden;   
}
.tecnical-container {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}  
.tecnical-button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    color: #000000; 
    font-weight: bold;
    border: #000000 1px solid;
}  
.tecnical-button:hover {
    transform: scale(1.05);
}
.rss-section{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

h4 {
    padding-top: 30px;
}

.rss-section img {
    width: 40px;
}

.icons{
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.icons-container {
    width: auto;
    animation: slide 30s linear infinite;
}

.skill-icon{
    display: inline-block;
    margin: 0 10px;
}

.skill-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}






