.welcome {
    height: 300px;
    width: 100%;
    transition: background-color 0.3s;
}
.content-box {
    width: 100%; 
    
}
.tecnical-container {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}  
.tecnical-button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    color: #000000; /* Color del texto */
    font-weight: bold;
    border: #000000 1px solid;
}  
.tecnical-button:hover {
    transform: scale(1.05);
}
.rss-section{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

h4 {
    padding-top: 30px;
}

footer p{
    margin: 0px;
}

.rss-section img {
    width: 40px;
}




